<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherman.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC197A912DFAA38A00CBA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC197A9E2DFAA38C00CBA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC197AA82DFAA38C00CBA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
